# local TF dir
.terraform/

# TF state files
**/*.tfstate
**/*.tfstate.*

# TF var files (may contain sensitive data)
*.tfvars

# Generated kubeconfig files (may contain sensitive data)
**/kubeconfig.yaml

# local secrets loaded by mise.toml
.env
